.container {
  width: 600px;
}
.table-container {
  overflow: hidden;
  height: 303px;
}

.table-container:hover {
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-action {
  width: 32px;
  text-align: center;
}

.mat-column-category {
  word-break: break-all;
}
