<mat-card class="container">
  <mat-card-subtitle>Device Registration</mat-card-subtitle>
  <mat-card-content>
    <form>
      <div fxLayout="column" fxLayoutGap="6px">

        <app-category-select></app-category-select>

        <mat-form-field appearance="fill">
          <mat-label>Color</mat-label>
          <input matInput maxlength="16">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Part Number</mat-label>
          <input type="number" matInput min="1">
        </mat-form-field>

        <div class="card-buttons">
          <button type="button" mat-button mat-raised-button color="primary">
            ADD
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
