<mat-card>
  <mat-card-subtitle>Device Registration</mat-card-subtitle>

  <mat-card-content>

    <form>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select>
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <input matInput maxlength="16">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Part Number</mat-label>
        <input type="number" matInput min="1">
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-button>SAVE</button>
    <button mat-button>CLEAR</button>
  </mat-card-actions>
</mat-card>
